{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'partials/_navbar.html' %}

<section class="best-receipe-area">
    <div class="container mt-4">
        <div class="row">
            <h1 class="text-center">Barbeiros</h1>
            <div>
                <div class="m-2">
                    <a href="{% url 'create_barber' %}" type="button" class="btn btn-info">Cadastrar Barbeiro</a></td>
                </div>
                {% if barbers %}
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Barbeiro</th>
                            <th scope="col">CPF</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for barber in barbers %}
                        <tr>
                            <td><a href="{% url 'get_barber' barber.id %}">{{ barber.name }}</a></td>
                            <td>{{ barber.cpf }}</td>
                            <td class="text-center"><a href="{% url 'edit_barber' barber.id %}" type="button"
                                    class="btn btn-warning">Editar</a></td>
                            <td class="text-center"><a href="{% url 'delete_barber' barber.id %}" type="button"
                                    class="btn btn-danger">Deletar</a></td>
                        </tr>
            </div>
            {% endfor %}
            {% else %}
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}