{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'partials/_navbar.html' %}

<div class="contact-area section-padding">
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Editar Barbeiro</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Todos os campos são obrigatórios</p>
                <div class="contact-form-area">
                    <form action="{% url 'update_barber' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" id="barber_id" class="form-control" name="barber_id" value="{{barber.id}}"
                            hidden>
                        <div class="row">
                            <div class="col-12 col-lg-12">
                                <label for="barber_name"><b>Barbeiro</b></label>
                                <input type="text" id="barber_name" class="form-control" name="barber_name"
                                    placeholder="Ex: Bruno Silva" value="{{barber.name}}" required>
                            </div>
                            <div class="col-12">
                                <label for="barber_price"><b>CPF</b></label>
                                <input type="text" id="barber_cpf" class="form-control" name="barber_cpf"
                                    placeholder="Ex: 000.111.222.333-44" value="{{barber.cpf}}" required>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-success" type="submit">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}