{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_navbar.html' %}

<div class="contact-area section-padding-0-80">
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Adicionar Atendimento</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>Todos os campos são obrigatórios</p>
                <div class="contact-form-area">
                    <form action="{% url 'create_order' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-lg-12">
                                {% if clients %}
                                <label for="client">Cliente:</label>
                                <select name="client" id="client">
                                    {% for client in clients %}
                                    <option value="{{ client.id }}">{{ client.name }}</option>
                                    {% endfor %}
                                </select>
                                {% else %}
                                {% endif %}
                            </div>
                            <div class="col-12 mt-4">
                                {% if barbers %}
                                <label for="barber">Barbeiro:</label>
                                <select name="barber" id="barber">
                                    {% for barber in barbers %}
                                    <option value="{{ barber.id }}">{{ barber.name }}</option>
                                    {% endfor %}
                                </select>
                                {% else %}
                                {% endif %}
                            </div>
                            <div class="col-12 mt-4">
                                {% if services %}
                                <label for="service">Serviço:</label>
                                <select name="service" id="service">
                                    {% for service in services %}
                                    <option value="{{ service.id }}">{{ service.service }}</option>
                                    {% endfor %}
                                </select>
                                {% else %}
                                {% endif %}
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn delicious-btn mt-30" type="submit">Adicionar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}