{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_navbar.html' %}

<div class="receipe-content-area">
    <div class="container">

        <div class="row">
            <div class="col-12 col-md-8">
                <div class="receipe-headline my-5">
                    <h2>Cliente: {{ client.name }}</h2>
                    <div class="receipe-duration">
                        <h6>ID: {{ client.id }}</h6>
                        <h6>CPF: {{ client.show_cpf }}</h6>
                    </div>
                    <div class="receipe-duration">
                        <h6>Telefone: {{ client.show_phone }}</h6>
                    </div>
                    <div class="row">
                        <h6 class="text-left"><a href="{% url 'edit_client' client.id %}" type="button"
                                class="btn btn-warning">Editar</a></h6>
                        <h6 class="text-left"><a href="{% url 'delete_client' client.id %}" type="button"
                                class="btn btn-danger">Deletar</a></h6>
                    </div>
                </div>

                {% if orders %}
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-center">N°</th>
                            <th scope="col">Barbeiro</th>
                            <th scope="col">Serviço</th>
                            <th scope="col">Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td class="text-center"><a href="{% url 'get_order' order.id %}">{{ order.id }}</a></td>
                            <td><a href="{% url 'get_order' order.id %}">{{ order.barber }}</a></td>
                            <td><a href="{% url 'get_order' order.id %}">{{ order.service }}</a></td>
                            <td><a href="{% url 'get_order' order.id %}">{{ order.show_formatted_date }}</a></td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        {% endif %}

                        <h6>Total de atendimentos: {{ total_orders }}</h6>
            </div>

            {% endblock %}